Cabuenas, Michael Luke
Diño, Karylle Marie
Domantay, Nico Bernard
Ferrer, Miguel Patrick
Madriaga, Jeremy
Mendoza, Bryan Benchmark
Napeek, Kaiser Moen

# Libraries

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

!pip install mlxtend

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

Collecting mlxtend
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: scikit-learn>=0.20.3 in d:\anaconda\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: pandas>=0.24.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: joblib>=0.13.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: matplotlib>=3.0.0 in d:\anaconda\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: scipy>=1.2.1 in d:\anaconda\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: numpy>=1.16.2 in d:\anaconda\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.19.0

# Pre-Processing

In [39]:
uncleaned_data = pd.read_csv('Outdoor-Activities.csv')

In [40]:
# Removing unwanted columns
uncleaned_data = uncleaned_data.drop(["Timestamp", "Do you agree to become a respondent in this study?"], axis=1)

In [41]:
# BRO HAHAHAHHAHAHA
uncleaned_data.rename(columns = {
    
    "Approximate average income / allowance per month (₱)":"Average Income/Allowance", "Current Region (Philippines)":"Region", 
    "Choose whether you participate in any outdoor activities alone or in a group.":"Participation Type", 
    "How many people in the group generally participate in outdoor activities? (Yourself Included)":"Number of Members",
    "Individual Budget. This includes travel, eating, and other areas (₱)":"Individual Budget",
    
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Swimming]":"Swimming",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Scuba Diving]":"Scuba Diving",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Surfing]":"Surfing",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Wakeboarding]":"Wakeboarding",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Boating]":"Boating",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Biking]":"Biking",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Hiking]":"Hiking",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Basketball]":"Basketball",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Volleyball]":"Volleyball",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Golfing]":"Golfing",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Sky Diving]":"Sky Diving",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Bungee Jumping]":"Bungee Jumping",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Tennis]":"Tennis",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Fishing]":"Fishing",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Camping]":"Camping",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Badminton]":"Badminton",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Sightseeing]":"Sightseeing",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Picnic]":"Picnic",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [FoodTrip]":"FoodTrip",
    "Based on the season, choose outdoor activities that you have enjoyed doing alone or with friends. (Select all that apply) [Wildlife Viewing]":"Wildlife Viewing",
    
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Swimming]":"Swimming Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Scuba Diving]":"Scuba Diving Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Surfing]":"Surfing Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Wakeboarding]":"Wakeboarding Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Boating]":"Boating Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Biking]":"Biking Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Hiking]":"Hiking Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Basketball]":"Basketball Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Volleyball]":"Volleyball Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Golfing]":"Golfing Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Sky Diving]":"Sky Diving Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Bungee Jumping]":"Bungee Jumping Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Tennis]":"Tennis Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Fishing]":"Fishing Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Camping]":"Camping Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Badminton]":"Badminton Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Sightseeing]":"Sightseeing Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Picnic]":"Picnic Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [FoodTrip]":"FoodTrip Rating",
    "Rate the outdoor activity from 1 to 5. (1 being the lowest; 5 being the highest) [Wildlife Viewing]":"Wildlife Viewing Rating",
    
    "Do you have anything more you like to do during the DRY SEASON in addition to the outdoor activities on the list? If Yes, please input exactly one (1) activity.":"Dry Season Addition",
    "Do you have more you like to do during the RAINY SEASON in addition to the outdoor activities on the list? If Yes, please input exactly one (1) activity.":"Rainy Season Addition",
    "Thinking about the outdoor activities that you haven't tried; what keeps you from doing these activities?":"Preventing Forces"
    
}, inplace = True)

uncleaned_data.columns = uncleaned_data.columns.str.replace(r'\s+', '_', regex=True)

In [42]:
# Check column names
print(uncleaned_data.columns)

Index(['Age_Group', 'Gender', 'Region', 'Swimming', 'Scuba_Diving', 'Surfing',
       'Wakeboarding', 'Boating', 'Biking', 'Hiking', 'Basketball',
       'Volleyball', 'Golfing', 'Sky_Diving', 'Bungee_Jumping', 'Tennis',
       'Fishing', 'Camping', 'Badminton', 'Sightseeing', 'Picnic', 'FoodTrip',
       'Wildlife_Viewing', 'Preventing_Forces'],
      dtype='object')

In [43]:
# Notice how the symbol '-' in region is not actually a '-', but rather a '–'
# Replace all instances of '–' with regular '-'
uncleaned_data["Region"] = uncleaned_data["Region"].str.replace('–', '-')

In [44]:
data = uncleaned_data
data.head()

,Age_Group,Gender,Region,Swimming,Scuba_Diving,Surfing,Wakeboarding,Boating,Biking,Hiking,...,Bungee_Jumping,Tennis,Fishing,Camping,Badminton,Sightseeing,Picnic,FoodTrip,Wildlife_Viewing,Preventing_Forces
0,18 - 25 years,Male,CAR - Cordillera Administrative Region,Dry Season,Haven't Tried,Haven't Tried,Haven't Tried,Haven't Tried,Dry Season,Dry Season,...,Haven't Tried,Haven't Tried,Haven't Tried,Haven't Tried,Haven't Tried,Dry Season,Dry Season,Dry Season,Haven't Tried,"The activities are out of my budget, I don't h..."
1,18 - 25 years,Male,CAR - Cordillera Administrative Region,"Dry Season, Rainy Season",Haven't Tried,Haven't Tried,Haven't Tried,Haven't Tried,Dry Season,Dry Season,...,Dry Season,Haven't Tried,"Dry Season, Rainy Season",Dry Season,Dry Season,"Dry Season, Rainy Season","Dry Season, Rainy Season","Dry Season, Rainy Season",Haven't Tried,"I simply don't like the activities, The activi..."
2,18 - 25 years,Male,CAR - Cordillera Administrative Region,Dry Season,Dry Season,Haven't Tried,Haven't Tried,Dry Season,"Dry Season, Rainy Season",Dry Season,...,Haven't Tried,Dry Season,Haven't Tried,Dry Season,Dry Season,Dry Season,Dry Season,Dry Season,"Dry Season, Rainy Season","I simply don't like the activities, The activi..."
3,18 - 25 years,Female,CAR - Cordillera Administrative Region,"Dry Season, Rainy Season",Dry Season,Haven't Tried,Haven't Tried,Dry Season,Haven't Tried,Dry Season,...,Haven't Tried,Haven't Tried,Dry Season,Dry Season,Dry Season,"Dry Season, Rainy Season",Dry Season,"Dry Season, Rainy Season",Dry Season,I simply don't like the activities
4,18 - 25 years,Female,CAR - Cordillera Administrative Region,Dry Season,Haven't Tried,Haven't Tried,Haven't Tried,Dry Season,Dry Season,Haven't Tried,...,Haven't Tried,Haven't Tried,Haven't Tried,Dry Season,Dry Season,Dry Season,Dry Season,Dry Season,Haven't Tried,"The activities are out of my budget, Not enoug..."

In [45]:
# Group each columns - List
personal_data_colnames = ['Age_Group', 'Gender', 'Marital_Status', 'Employment_Status', 'Average Income/Allowance', 'Region']

pre_assessment_colnames = ['Participation_Type', 'Number_of_Members', 'Individual_Budget']

outdoor_activities_colnames = ['Swimming', 'Scuba_Diving', 'Surfing', 'Wakeboarding', 'Boating', 'Biking', 'Hiking', 'Basketball',
                           'Volleyball', 'Golfing', 'Sky_Diving', 'Bungee_Jumping', 'Tennis', 'Fishing', 'Camping', 'Badminton', 
                           'Sightseeing', 'Picnic', 'FoodTrip', 'Wildlife_Viewing']
                    
rating_colnames = ['Swimming_Rating', 'Scuba_Diving_Rating', 'Surfing_Rating', 'Wakeboarding_Rating', 'Boating_Rating',
                  'Biking_Rating', 'Hiking_Rating', 'Basketball_Rating', 'Volleyball_Rating', 'Golfing_Rating', 'Sky_Diving_Rating',
                  'Bungee_Jumping_Rating', 'Tennis_Rating', 'Fishing_Rating', 'Camping_Rating', 'Badminton_Rating', 
                  'Sightseeing_Rating', 'Picnic_Rating', 'FoodTrip_Rating', 'Wildlife_Viewing_Rating']

# Compiling All Outdoor Activities by Season

In [46]:
# This cell is to replicate ma'am's example

def determine_list_state(respo_list):
    if respo_list:
        return respo_list
    

dry_season_oa_dataset = []
rainy_season_oa_dataset = []
# ht = Haven't Tried
ht_oa_dataset = []

# 0 1 2
season_ht_list = ["Dry Season", "Rainy Season", "Haven't Tried"]

for row in data[outdoor_activities_colnames].itertuples():
    respo_ds_oa_answer_list = []
    respo_rs_oa_answer_list = []
    respo_ht_oa_answer_list = []

    for col_name in outdoor_activities_colnames:
        if season_ht_list[0] in getattr(row, col_name):
            respo_ds_oa_answer_list.append(col_name)
        if season_ht_list[1] in getattr(row, col_name):
            respo_rs_oa_answer_list.append(col_name)
        if season_ht_list[2] in getattr(row, col_name):
            respo_ht_oa_answer_list.append(col_name)
        
    dry_season_oa_dataset.append(respo_ds_oa_answer_list)
    rainy_season_oa_dataset.append(respo_rs_oa_answer_list)
    ht_oa_dataset.append(respo_ht_oa_answer_list)


# Remove empty lists inside list.
dry_season_oa_dataset = [x for x in dry_season_oa_dataset if x != []]
rainy_season_oa_dataset = [x for x in rainy_season_oa_dataset if x != []]
ht_oa_dataset = [x for x in ht_oa_dataset if x != []]
    
print(dry_season_oa_dataset[0:5])
print("\n")
print(rainy_season_oa_dataset[0:5])
print("\n")
print(ht_oa_dataset[0:5])

[['Swimming', 'Biking', 'Hiking', 'Basketball', 'Volleyball', 'Sightseeing', 'Picnic', 'FoodTrip'], ['Swimming', 'Biking', 'Hiking', 'Volleyball', 'Bungee_Jumping', 'Fishing', 'Camping', 'Badminton', 'Sightseeing', 'Picnic', 'FoodTrip'], ['Swimming', 'Scuba_Diving', 'Boating', 'Biking', 'Hiking', 'Basketball', 'Volleyball', 'Tennis', 'Camping', 'Badminton', 'Sightseeing', 'Picnic', 'FoodTrip', 'Wildlife_Viewing'], ['Swimming', 'Scuba_Diving', 'Boating', 'Hiking', 'Basketball', 'Volleyball', 'Golfing', 'Fishing', 'Camping', 'Badminton', 'Sightseeing', 'Picnic', 'FoodTrip', 'Wildlife_Viewing'], ['Swimming', 'Boating', 'Biking', 'Basketball', 'Volleyball', 'Camping', 'Badminton', 'Sightseeing', 'Picnic', 'FoodTrip']]


[['Swimming', 'Volleyball', 'Fishing', 'Sightseeing', 'Picnic', 'FoodTrip'], ['Biking', 'Wildlife_Viewing'], ['Swimming', 'Sightseeing', 'FoodTrip'], ['FoodTrip'], ['Biking', 'Hiking', 'Tennis', 'Fishing', 'Camping', 'Badminton', 'Sightseeing', 'FoodTrip', 'Wildlife_Viewing']]


[['Scuba_Diving', 'Surfing', 'Wakeboarding', 'Boating', 'Golfing', 'Sky_Diving', 'Bungee_Jumping', 'Tennis', 'Fishing', 'Camping', 'Badminton', 'Wildlife_Viewing'], ['Scuba_Diving', 'Surfing', 'Wakeboarding', 'Boating', 'Basketball', 'Golfing', 'Sky_Diving', 'Tennis', 'Wildlife_Viewing'], ['Surfing', 'Wakeboarding', 'Golfing', 'Sky_Diving', 'Bungee_Jumping', 'Fishing'], ['Surfing', 'Wakeboarding', 'Biking', 'Sky_Diving', 'Bungee_Jumping', 'Tennis'], ['Scuba_Diving', 'Surfing', 'Wakeboarding', 'Hiking', 'Golfing', 'Sky_Diving', 'Bungee_Jumping', 'Tennis', 'Fishing', 'Wildlife_Viewing']]

In [47]:
# Determine minimum support for each season
# Yeah idk HAHAHAHAHHAHAHAHAHHA
print("Minimum Support for Dry Season O_A: {}".format(len(dry_season_oa_dataset)*60/100))
print("Minimum Support for Rainy Season O_A: {}".format(len(rainy_season_oa_dataset)*60/100))
print("Minimum Support for Haven't Tried O_A: {}".format(len(ht_oa_dataset)*60/100))

Minimum Support for Dry Season O_A: 61.8
Minimum Support for Rainy Season O_A: 38.4
Minimum Support for Haven't Tried O_A: 56.4

# Generate Frequent Itemsets and Support

In [48]:
# Create dataframe (name - dataset - minimum support)
dataset_names_list = ["Dry_Season_Dataset", "Rainy_Season_Dataset", "Havent_Tried_Dataset"]
datasets_list = [dry_season_oa_dataset, rainy_season_oa_dataset, ht_oa_dataset]
minimum_support_list = [0.606, 0.2, 0.3]

# Compile previous lists to dataframe
df_df = pd.DataFrame({"Dataset_Name":dataset_names_list, 
                      "Dataset":datasets_list, 
                      "Min_Support":minimum_support_list})
df_df

,Dataset_Name,Dataset,Min_Support
0,Dry_Season_Dataset,"[[Swimming, Biking, Hiking, Basketball, Volley...",0.606
1,Rainy_Season_Dataset,"[[Swimming, Volleyball, Fishing, Sightseeing, ...",0.200
2,Havent_Tried_Dataset,"[[Scuba_Diving, Surfing, Wakeboarding, Boating...",0.300

In [49]:
te_dataset_list = []
te_list = []

transformed_itemset_list = []

for row in df_df.itertuples():
    # Use transaction Encoder to transform the dataset into true or false values
    te = TransactionEncoder()
    dataset = row.Dataset
    oa_dataset = te.fit(dataset).transform(dataset)
    
    print("--------------------------------------------------")
    print("Dataset Name: {}".format(row.Dataset_Name))
    print("Minimum Support: {}".format(row.Min_Support))
    print("--------------------------------------------------")
    
    df_oa_dataset = pd.DataFrame(oa_dataset, columns=te.columns_)
    display(df_oa_dataset.head())
    
    transformed_itemset_list.append(df_oa_dataset)

--------------------------------------------------
Dataset Name: Dry_Season_Dataset
Minimum Support: 0.606
--------------------------------------------------

,Badminton,Basketball,Biking,Boating,Bungee_Jumping,Camping,Fishing,FoodTrip,Golfing,Hiking,Picnic,Scuba_Diving,Sightseeing,Sky_Diving,Surfing,Swimming,Tennis,Volleyball,Wakeboarding,Wildlife_Viewing
0,False,True,True,False,False,False,False,True,False,True,True,False,True,False,False,True,False,True,False,False
1,True,False,True,False,True,True,True,True,False,True,True,False,True,False,False,True,False,True,False,False
2,True,True,True,True,False,True,False,True,False,True,True,True,True,False,False,True,True,True,False,True
3,True,True,False,True,False,True,True,True,True,True,True,True,True,False,False,True,False,True,False,True
4,True,True,True,True,False,True,False,True,False,False,True,False,True,False,False,True,False,True,False,False

--------------------------------------------------
Dataset Name: Rainy_Season_Dataset
Minimum Support: 0.2
--------------------------------------------------

,Badminton,Basketball,Biking,Boating,Camping,Fishing,FoodTrip,Golfing,Hiking,Picnic,Scuba_Diving,Sightseeing,Sky_Diving,Surfing,Swimming,Tennis,Volleyball,Wakeboarding,Wildlife_Viewing
0,False,False,False,False,False,True,True,False,False,True,False,True,False,False,True,False,True,False,False
1,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
4,True,False,True,False,True,True,True,False,True,False,False,True,False,False,False,True,False,False,True

--------------------------------------------------
Dataset Name: Havent_Tried_Dataset
Minimum Support: 0.3
--------------------------------------------------

,Badminton,Basketball,Biking,Boating,Bungee_Jumping,Camping,Fishing,FoodTrip,Golfing,Hiking,Picnic,Scuba_Diving,Sightseeing,Sky_Diving,Surfing,Tennis,Volleyball,Wakeboarding,Wildlife_Viewing
0,True,False,False,True,True,True,True,False,True,False,False,True,False,True,True,True,False,True,True
1,False,True,False,True,False,False,False,False,True,False,False,True,False,True,True,True,False,True,True
2,False,False,False,False,True,False,True,False,True,False,False,False,False,True,True,False,False,True,False
3,False,False,True,False,True,False,False,False,False,False,False,False,False,True,True,True,False,True,False
4,False,False,False,False,True,False,True,False,True,True,False,True,False,True,True,True,False,True,True

In [50]:
print("--------------------------------------------------")
print("Compiled Transformed Datasets")
print("--------------------------------------------------")

# Compile transaction encoder transformed dataframes
df_te = pd.DataFrame({"Dataset_Name":dataset_names_list, 
                      "Dataset":transformed_itemset_list, 
                      "Min_Support":minimum_support_list})
df_te

--------------------------------------------------
Compiled Transformed Datasets
--------------------------------------------------

,Dataset_Name,Dataset,Min_Support
0,Dry_Season_Dataset,Badminton Basketball Biking Boating B...,0.606
1,Rainy_Season_Dataset,Badminton Basketball Biking Boating Ca...,0.200
2,Havent_Tried_Dataset,Badminton Basketball Biking Boating Bu...,0.300

# APRIORI In preparation for Association Rules

In [51]:
frequent_itemsets_list = []

for row in df_te.itertuples():
    print("--------------------------------------------------")
    print("Dataset Name: {}".format(row.Dataset_Name))
    print("Length: {}".format(len(row.Dataset)))
    print("Minimum Support: {}".format(row.Min_Support))
    print("--------------------------------------------------")
    
    freq_itemsets = apriori(row.Dataset, min_support = row.Min_Support, use_colnames = True)
    display(freq_itemsets.sort_values(by=['support']).tail())
    
    frequent_itemsets_list.append(freq_itemsets)

--------------------------------------------------
Dataset Name: Dry_Season_Dataset
Length: 103
Minimum Support: 0.606
--------------------------------------------------

     support              itemsets
7   0.941748              (Picnic)
52  0.941748    (Swimming, Picnic)
5   0.961165            (FoodTrip)
45  0.961165  (Swimming, FoodTrip)
9   0.990291            (Swimming)

--------------------------------------------------
Dataset Name: Rainy_Season_Dataset
Length: 64
Minimum Support: 0.2
--------------------------------------------------

     support                 itemsets
3   0.453125                (Camping)
7   0.468750                 (Picnic)
32  0.578125  (FoodTrip, Sightseeing)
8   0.656250            (Sightseeing)
5   0.750000               (FoodTrip)

--------------------------------------------------
Dataset Name: Havent_Tried_Dataset
Length: 94
Minimum Support: 0.3
--------------------------------------------------

     support                      itemsets
30  0.787234         (Golfing, Sky_Diving)
3   0.797872                     (Golfing)
17  0.904255  (Bungee_Jumping, Sky_Diving)
1   0.925532              (Bungee_Jumping)
5   0.968085                  (Sky_Diving)

In [52]:
# Compile frequent itemsets
df_freq = pd.DataFrame({"Dataset_Name":dataset_names_list, 
                        "Dataset":frequent_itemsets_list,
                        "Min_Support":minimum_support_list})
df_freq

,Dataset_Name,Dataset,Min_Support
0,Dry_Season_Dataset,support ...,0.606
1,Rainy_Season_Dataset,support ...,0.200
2,Havent_Tried_Dataset,support ...,0.300

# Association Rules

In [53]:
for row in df_freq.itertuples():
    print("--------------------------------------------------")
    print("Dataset Name: {}".format(row.Dataset_Name))
    print("Length: {}".format(len(row.Dataset)))
    print("Minimum Support: {}".format(row.Min_Support))
    print("--------------------------------------------------")
    
    res = association_rules(row.Dataset, metric="confidence", min_threshold=0.85)
    display(res[res['confidence'] >= 0.85].sort_values(by = 'confidence'))

--------------------------------------------------
Dataset Name: Dry_Season_Dataset
Length: 515
Minimum Support: 0.606
--------------------------------------------------

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1898,"(Hiking, Biking)","(Badminton, Sightseeing, Camping)",0.776699,0.737864,0.660194,0.85,1.151974,0.087096,1.747573
5188,"(Hiking, Biking)","(FoodTrip, Sightseeing, Picnic, Camping)",0.776699,0.766990,0.660194,0.85,1.108228,0.064474,1.553398
5198,"(Swimming, FoodTrip, Picnic, Camping)","(Hiking, Biking)",0.776699,0.776699,0.660194,0.85,1.094375,0.056933,1.488673
528,"(Hiking, Biking)","(Badminton, Camping)",0.776699,0.757282,0.660194,0.85,1.122436,0.072014,1.618123
2426,"(FoodTrip, Picnic, Camping)","(Badminton, Hiking)",0.776699,0.747573,0.660194,0.85,1.137013,0.079555,1.682848
...,...,...,...,...,...,...,...,...,...
978,"(Volleyball, Badminton, Picnic)",(Swimming),0.669903,0.990291,0.669903,1.00,1.009804,0.006504,inf
4951,"(Biking, Camping, Swimming, FoodTrip, Boating)",(Picnic),0.621359,0.941748,0.621359,1.00,1.061856,0.036196,inf
4948,"(Picnic, Biking, Camping, FoodTrip, Boating)",(Swimming),0.621359,0.990291,0.621359,1.00,1.009804,0.006033,inf
985,"(Volleyball, Badminton, Sightseeing)",(Swimming),0.640777,0.990291,0.640777,1.00,1.009804,0.006221,inf
2315,"(Badminton, Hiking, FoodTrip, Boating)",(Swimming),0.631068,0.990291,0.631068,1.00,1.009804,0.006127,inf

--------------------------------------------------
Dataset Name: Rainy_Season_Dataset
Length: 85
Minimum Support: 0.2
--------------------------------------------------

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
10,"(FoodTrip, Hiking)",(Biking),0.312500,0.437500,0.265625,0.850000,1.942857,0.128906,3.750000
5,(Wildlife_Viewing),(Sightseeing),0.328125,0.656250,0.281250,0.857143,1.306122,0.065918,2.406250
0,(Camping),(FoodTrip),0.453125,0.750000,0.390625,0.862069,1.149425,0.050781,1.812500
13,"(FoodTrip, Biking)",(Sightseeing),0.343750,0.656250,0.296875,0.863636,1.316017,0.071289,2.520833
95,"(Sightseeing, Biking, Camping)","(FoodTrip, Picnic)",0.234375,0.437500,0.203125,0.866667,1.980952,0.100586,4.218750
...,...,...,...,...,...,...,...,...,...
69,"(FoodTrip, Wildlife_Viewing, Camping)",(Sightseeing),0.218750,0.656250,0.218750,1.000000,1.523810,0.075195,inf
70,"(Wildlife_Viewing, Camping)","(FoodTrip, Sightseeing)",0.218750,0.578125,0.218750,1.000000,1.729730,0.092285,inf
19,"(Picnic, Camping)",(FoodTrip),0.265625,0.750000,0.265625,1.000000,1.333333,0.066406,inf
53,"(FoodTrip, Picnic, Biking)",(Sightseeing),0.250000,0.656250,0.250000,1.000000,1.523810,0.085938,inf
67,"(Picnic, Camping)","(FoodTrip, Sightseeing)",0.265625,0.578125,0.265625,1.000000,1.729730,0.112061,inf

--------------------------------------------------
Dataset Name: Havent_Tried_Dataset
Length: 256
Minimum Support: 0.3
--------------------------------------------------

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
240,"(Golfing, Wildlife_Viewing)","(Bungee_Jumping, Scuba_Diving)",0.425532,0.638298,0.361702,0.85,1.331667,0.090086,2.411348
242,"(Wildlife_Viewing, Scuba_Diving)","(Golfing, Bungee_Jumping)",0.425532,0.734043,0.361702,0.85,1.157971,0.049344,1.773050
853,"(Wakeboarding, Golfing, Fishing)","(Bungee_Jumping, Sky_Diving, Scuba_Diving)",0.425532,0.617021,0.361702,0.85,1.377586,0.099140,2.553191
241,"(Bungee_Jumping, Wildlife_Viewing)","(Golfing, Scuba_Diving)",0.425532,0.595745,0.361702,0.85,1.426786,0.108194,2.695035
90,"(Bungee_Jumping, Wildlife_Viewing)",(Wakeboarding),0.425532,0.734043,0.361702,0.85,1.157971,0.049344,1.773050
...,...,...,...,...,...,...,...,...,...
110,"(Fishing, Surfing)",(Wakeboarding),0.372340,0.734043,0.372340,1.00,1.362319,0.099027,inf
875,"(Wakeboarding, Golfing, Surfing, Bungee_Jumpin...",(Sky_Diving),0.340426,0.968085,0.340426,1.00,1.032967,0.010865,inf
878,"(Golfing, Surfing, Bungee_Jumping, Sky_Diving,...",(Wakeboarding),0.340426,0.734043,0.340426,1.00,1.362319,0.090539,inf
891,"(Wakeboarding, Surfing, Bungee_Jumping, Fishin...",(Sky_Diving),0.340426,0.968085,0.340426,1.00,1.032967,0.010865,inf
417,"(Golfing, Wakeboarding, Surfing)",(Sky_Diving),0.478723,0.968085,0.478723,1.00,1.032967,0.015278,inf

In [21]:
res_dryseason = association_rules(freq_dryseason_itemsets, metric="confidence", min_threshold=1)
res_dryseason[res_dryseason['confidence'] >= 1].head()

NameError: name 'freq_dryseason_itemsets' is not defined

# Preventing Forces Visuals

In [20]:
import pandas as pd

# Initiate a dictionary for the dataframe
data_dict = {
    "Store":[1, 2, 3, 4, 5, 6],
    "Store Space (sq m)":[5, 5, 10, 15, 15, 20],
    "Weekly sales (in thousands)":[160, 220, 190, 230, 270, 290]
}

# Create dataframe using the data_dict dictionary as its entry data
df = pd.DataFrame(data_dict)
df

   Store  Store Space (sq m)  Weekly sales (in thousands)
0      1                   5                          160
1      2                   5                          220
2      3                  10                          190
3      4                  15                          230
4      5                  15                          270
5      6                  20                          290

In [5]:
# Separate dependent variable from independent variables
x = df["Store Space (sq m)"]
y = df["Weekly sales (in thousands)"]

print(x)
print(y)

0     5
1     5
2    10
3    15
4    15
5    20
Name: Store Space (sq m), dtype: int64
0    160
1    220
2    190
3    230
4    270
5    290
Name: Weekly sales (in thousands), dtype: int64

In [8]:
import numpy as np
print(np.corrcoef(x, y))

[[1.         0.84090909]
 [0.84090909 1.        ]]

In [25]:
import scipy

# Scipy library to contain slope, intercept, rvalue for the requirements
slope, intercept, rvalue, pvalue, stderr = scipy.stats.linregress(x, y)

print("y = {}x + {}".format(slope, intercept))
print("r^2 = {}".format(rvalue*rvalue))

y = 6.727272727272728x + 148.18181818181816
r^2 = 0.7071280991735538

In [10]:
from sklearn.metrics import r2_score

print(r2_score(y, x))

-23.44318181818182

In [18]:
import scipy
scipy.stats.linregress(x, y)

LinregressResult(slope=6.727272727272728, intercept=148.18181818181816, rvalue=0.8409090909090909, pvalue=0.035951587152516874, stderr=2.164705618143756, intercept_stderr=27.946229361707992)